:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%); 
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Ligth-blue: hsl(213, 19%, 21%);
    --Orange: hsl(25, 97%, 53%);
    --Paragraph: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--Dark-Blue);
    width: 24rem;
    height: 24rem;
    border-radius: 3rem;
    padding: 2.5rem;
}

.container-Thank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Ligth-blue);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.icon-thank{
    margin-top: 1rem;
}

.important-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Ligth-blue);
    color: var(--Orange);
    font-size: medium;
    height: 1.8rem;
    width: 14rem;
    border-radius: 1.8rem;
    margin-bottom: -3rem;
}

.tittle{
    color: var(--White);
    margin-bottom: -2.5rem;
}

.paragraph{
    color: var(--Light-Grey);
    margin-bottom: 0rem;
}

.paragraph-thank{
    text-align: center;
    line-height: 1.7rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.number-button{
    background-color: var(--Ligth-blue);
    color: var(--White);
    border: none;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    font-size: medium;
}

.number-button:hover{
    background-color: var(--Orange);
    cursor: pointer;
}

.number-selected{
    background-color: var(--Light-Grey);
}

.submit-button{
    background-color: var(--Orange);
    color: var(--White);
    height: 3.5rem;
    border: none;
    border-radius: 1.8rem;
    font-size: larger;
    letter-spacing: 0.05rem;
    text-align: center;
}

.submit-button:hover{
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

@media (max-Width:500px) {
    body{
        font-size: 90%;
    }
    .container{
        width: 70vw;
        height: 40vh;
        padding: 1.5rem;
    }
    .icon{
        width: 3rem;
        height: 3rem;
    }
    .icon-thank{
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    .important-msg{
        margin-bottom: -1.5rem;
    }
    .tittle{
        margin-top: 0rem;
        margin-bottom: -1.8rem;
    }
    .number-button{
        width: 3rem;
        height: 3rem;
        font-size: 90%;
    }

    .submit-button{
        height: 2.5rem;
        font-size: 95%;
    }
}